/* Estos 5 Elementos aplica para cada una de las paginas */
footer {
    text-align: center;
    font-family: sans-serif;
    color: black;
    width: 37%;
    bottom: 0;
    position:fixed;
}

body {
    background: url(https://static.vecteezy.com/system/resources/previews/002/399/293/non_2x/wave-decoration-soft-royal-glamour-luxury-elegant-white-background-for-cover-banner-concept-with-carve-vector.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.img-fluid{
    position: relative;
    padding: 10px;
}

.navbar-color{
    background-color: #C6832F;
}

.container {
    background: #ffffff;
    max-width: 500px;
    width: 100%;
    margin: 40px auto;
    border-radius: 5px;
    color: #000000;
    position: relative;
    padding: 20px;
    border-style:ridge;
}

.form-group input{
    text-align: center;
    outline: none;
    display: block;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #f5f5f5;
    font-family: Roboto;
    font-size: 14px;
}

.form-group .btn {
    background: #5d728d;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 2px;
    cursor: pointer;
}

#boton{
    outline: none;
    display: block;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #f5f5f5;
    font-family: Roboto;
    font-size: 14px;
}

#cajabotones{
    color: #FFF;
    width: 10%;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    left: 70%;
    bottom: 200px;
}

.card{
    background: #5d728d;
    color: #FFF;
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    left: 5%;
    bottom: 80px;
}

.table-responsive{
    background: #5d728dc2;
    border: none;
    width: 1000px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    left: 15%;
    top: 25px;
}

.table{
    color: #FFF;
    font-family: Roboto;    
    font-size: 16px;
    font-weight: normal;
}


th.col-11, td.col-11,
th.col-10, td.col-10,
th.col-9, td.col-9,
th.col-8, td.col-8,
th.col-7, td.col-7,
th.col-6, td.col-6,
th.col-5, td.col-5,
th.col-4, td.col-4,
th.col-3, td.col-3,
th.col-2, td.col-2,
th.col-1, td.col-1
{
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}

.btn-table{
    border: none;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    padding: 10px;
    color: white ;
}

/*:::Boton-Modal:::*/
.boton-modal{
    padding: 40px;
    background-color: #fff;
    display: inline;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: inline;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/

#contenedorPadre {
    display: flex;
    justify-content: center;
  }
  #contenedorHijo {
    align-self: center;
  }